    .aboutme {
        min-height: 90vh;
        background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
        padding: 20px;
    }
    
    .myPhoto {
        width: 45vw;
        max-height: 27rem;
        max-width: 27rem;
        min-width: 280px;
        border-radius: 50%;
        animation-name: imageShadow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
    
    .mySelf {
        display: flex;
        justify-content: space-around;
    }
    
    .image-container {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .arrows {
        display: flex;
        justify-content: center;
    }
    
    .aboutMeR {
        font-size: 3rem;
        transition: all 250ms ease-out;
    }
    
    .aboutMeR:hover {
        transform: scale(1.5);
    }
    
    #name-intro {
        background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 800;
        font-size: 4rem;
        text-align: center;
    }
    
    .tag-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
    }
    
    #tags {
        word-wrap: break-word;
        color: rgb(8, 9, 66);
        font-weight: 600;
    }
    
    @keyframes imageShadow {
        0% {
            box-shadow: 16px 16px 60px rgba(255, 254, 251, 0.801), 16px -16px 60px rgba(255, 254, 251, 0.801), -16px 16px 60px rgba(255, 254, 251, 0.801), -16px -16px 60px rgba(255, 254, 251, 0.801);
        }
        100% {
            box-shadow: 16px 16px 60px #0acdfe54, 16px -16px 60px #0acdfe54, -16px 16px 60px #0acdfe54, -16px -16px 60px #0acdfe54;
        }
    }
    
    @media only screen and (max-width:620px) {
        .mySelf {
            flex-direction: column-reverse;
            justify-content: center;
        }
    }
    
    @media only screen and (max-width:400px) {
        #name-intro {
            font-size: 2.5rem;
        }
    }