#footer {
    position: relative;
    background: black;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    user-select: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#medias>i {
    margin-right: 30px;
    cursor: pointer;
    transition: all ease-out 0.2s;
}

#medias>i:hover {
    transform: scale(1.5);
}

#by {
    font-family: 'Hina Mincho', serif;
    font-size: 2rem;
    font-weight: 800;
}

.fa-stripe-s {
    font-size: 2rem;
    animation-name: byName;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    cursor: auto;
}

@keyframes byName {
    0% {
        color: rgb(19, 19, 168);
    }
    100% {
        color: rgb(55, 179, 228);
        transform: rotateZ(360deg);
    }
}

@media only screen and (max-width:500px) {
    #footer {
        font-size: 1.5rem;
    }
    #medias>i {
        margin-right: 15px;
    }
    #by {
        font-size: 24px;
    }
    .fa-stripe-s {
        font-size: 20px;
    }
}