#recentWorks {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
    position: relative;
    padding: 50px;
}

#titleW {
    user-select: none;
    color: rgb(226, 73, 73);
    font-size: 3.5rem;
    font-weight: 800;
    padding: 5px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgb(153, 106, 106);
}

img {
    max-width: 500px;
    max-height: 300px;
    min-width: 250px;
    border: 2px solid rgb(151, 151, 151);
}

.imgs-container {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.img-container {
    margin: 10px 20px;
    background-color: rgb(226, 249, 255);
    padding: 10px;
    max-width: 510px;
    position: relative;
    box-shadow: 3px 3px 3px rgb(88, 65, 65);
}

.img-container:hover {
    animation-name: workRotate;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.view-btn {
    margin: 10px;
    background-color: rgb(23, 189, 255);
    color: white;
    padding: 5px 20px;
}

.arrowsW {
    width: 40vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.workL {
    font-size: 3rem;
    transition: all 250ms ease-out;
}

.workL:hover {
    transform: scale(1.5);
    cursor: url("https://img.icons8.com/fluency/30/000000/cursor--v1.png"), default;
}


/* Custom scroll bar */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

::-webkit-scrollbar-thumb {
    background: rgb(226, 73, 73);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 48, 48);
    cursor: url("https://img.icons8.com/fluency/30/000000/cursor--v1.png"), default;
}

@keyframes workRotate {
    0% {}
    100% {
        transform: rotateY(360deg);
    }
}

@media only screen and (max-width:1000px) {
    .imgs-container {
        grid-template-columns: auto auto;
    }
    .img-container {
        margin: 10px 10px;
    }
    #recentWorks {
        padding: 20px;
    }
}

@media only screen and (max-width:600px) {
    .imgs-container {
        grid-template-columns: auto;
    }
    .img-container {
        margin: 10px 5px;
    }
    #titleW {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
}